<header role="menubar" class="Header">

  <section class="pullLeft">
    <article class="MenuIcon">
      <img src="/assets/images/arrow.png" alt=""><img src="/assets/images/menu.png" alt="">
    </article>

    <article class="Search">
      <img src="/assets/images/search.png" alt="">
    </article>
  </section>

<section class="pullRight">
  <button class="addProjectBtn">Add project</button>

  <article class="Messages">
    <img src="/assets/images/messages.png" alt="">
  </article>

  <article class="Notifications">
    <img src="/assets/images/notifications.png" alt="">
  </article>

  <article class="UserMenu">
    <img src="/assets/images/profile.jpg" alt="">
  </article>
</section>

</header>
