@import '../../../assets/sass/colors';

.Header {
  height: 120px;
  width: 100%;
  border-bottom: 1px solid $grey-darker;
  background: white;
  padding: 20px 15px;

  section:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
}

article {
  display: inline-block;
  vertical-align: middle;
}

.pullRight {
  float: right;
  height: 100%;
}

.pullLeft {
  float: left;
  height: 100%;
}

.addProjectBtn {
  background: $blue-light;
  font-size: 20px;

  border: none;
  border-radius: 30px;
  color: white;
  padding: 0.7em 1em;

  cursor: pointer;

  &:before {
    content: '+';
    color: $grey-darker;
    margin-right: 10px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background: darken($blue-light, 10%);;
  }
}

.UserMenu {
  cursor: pointer;
  $userImgDiameter: 64px;
  position: relative;
  height: $userImgDiameter;
  width: $userImgDiameter;
  overflow: hidden;
  border-radius: 50%;
  img {
    height: 100%;
  }
}

.Messages {
  cursor: pointer;
}

.Notifications {
  cursor: pointer;
}
