@import '../../../../../assets/sass/colors';

div {
  border-bottom: 1px solid $grey-darker;
  height: 100%;
  padding: 0 25px;

  &:before {
    content: '';
    height: 100%;
    display: inline-block;
    width: 0;
    vertical-align: middle;
  }
}

.Icon {
  display: inline-block;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background: $blue-light;
  text-align: center;
  line-height: 46px;
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin-right: 20px;
  vertical-align: middle;

  &:hover {
    background: $blue-highlight;
  }
}

h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: $grey-darkest;
  vertical-align: middle;

  &:before {
    content: url('/assets/images/icons/time.png');
    margin-right: 10px;
    vertical-align: middle;
  }
}

.Task {
  display: inline-block;
  vertical-align: middle;
}

.wrapper {
  position: relative;
}

.Options {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translate(0, -50%);

  &:hover {

  }
}
