@import '../../../assets/sass/colors';

.SideMenu {
  list-style: none;
  height: 100%;
  width: 318px;
}

.SideMenuItem {
  display: block;
  color: white;
  text-decoration: none;
  height: 102px;
  text-transform: capitalize;
  padding: 35px 50px;

  &:hover,
  &.active {
    background: $blue-highlight;
  }

  &.active {
    border-left: 10px solid $blue-light;
    padding-left: 40px;
  }
}

.SideMenuItem-icon {
  display: inline;
  margin: 2px 9px 0 0 ;
}

.SideMenuItem-text {
  display: inline;
  margin-right: 15px;
  font-size: 24px;
  font-weight: bold;
  vertical-align: super;
  letter-spacing: -1px;
}
