@import '../assets/sass/colors';
@import '../assets/sass/mixins';

.wrapper {
  display: flex;
  height: 100%;

    // For development.
    // opacity: 0.5;
}

.Nav {
  background: $blue-primary;
}

.Logo {
  width: 318px;
  height: 120px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 29px 41px;
}

.Main {
  background: $grey-primary;
  height: 100%;
  padding: 54px 36px 54px 41px;
  overflow-y: auto;
  overflow-x: hidden;
}

.MainSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}
