@import '../../../../assets/sass/colors';

.Badge {
  float: right;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: $blue-light;
  text-align: center;
  line-height: 45px;
  color: white;
  margin: 0 10px;

  &.red {
    background: #f83c7b;
  }
}
