<h1>Hello John!</h1>

<section class="Grid">

  <div class="topRow">
    <div class="CardGraph flexSmall"></div>
    <div class="CardGraph flexMedium"></div>
  </div>

  <div class="bottomRow">

    <app-card
    [list]="taskList"
    [type]="'list'"
    [itemType]="'tasks'"
    [title]="'Tasks'"
    ></app-card>

    <app-card
    [list]="messageList"
    [type]="'list'"
    [itemType]="'messages'"
    [title]="'Tasks'"
    ></app-card>

    <app-card
    [list]="activityList"
    [type]="'list'"
    [itemType]="'activity'"
    [title]="'Activity'"
    ></app-card>
  </div>

</section>
