<h1>Hello John!</h1>

<section class="Grid">

  <div class="topRow">
    <app-card
      class="topRow-item"
      *ngFor="let graph of graphs"
      [type]="'graph'"
      [graph]="graph.url"
      [title]="graph.title"
    ></app-card>
  </div>

  <div class="bottomRow">

    <div class="bottomRow-item">
      <app-card
        [list]="taskList"
        [type]="'list'"
        [itemType]="'tasks'"
        [title]="'Tasks'"
        [goodBadge]="futureTasks"
        [badBadge]="pastTasks"
        >
      </app-card>
    </div>

    <div class="bottomRow-item">
      <app-card
        [list]="messageList"
        [type]="'list'"
        [itemType]="'messages'"
        [title]="'Messages'"
        [goodBadge]="messageBadge"
      ></app-card>
    </div>

    <div class="bottomRow-item">
      <app-card
        [list]="activityList"
        [type]="'list'"
        [itemType]="'activity'"
        [goodBadge]="activityList.length"
        [title]="'Activity'"
      ></app-card>
    </div>

  </div>

</section>
